<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--Your Database connection string, currently expecting a Postgres database.-->
		<add name="GoDaddyContext" connectionString=""/>
	</connectionStrings>
	<appSettings>
		<!--API key is provided by GoDaddy at https://developer.godaddy.com/keys -->
		<add key="APIKey" value=""/>
		<!--Secret key is provided by GoDaddy at https://developer.godaddy.com/keys -->
		<add key="SecretKey" value=""/> 
		<!--Program will call a site (EX: https://api.ipify.org) and expect it's own IP address in return-->
		<add key="IPAddressProvider" value=""/>
	</appSettings>
</configuration>